@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
<b>Attendance System</b> <br />
    <abbr title="Phone">Phone :</abbr>
	+989224016324
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:elnazjangi9224@gmail.com">elnazjangi9224@gmail.com</a><br />
</address>